{% extends 'base.html' %}

{% block menu %}
    {% for link in nav_links %}
        <a href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
{% endblock %}



{% block survey %}
    {% for surv in survey %}
        <article class="survey-card">
            <h3>{{ surv.title }}</h3>
            <p>{{ surv.content }}</p>
                <a href="{{ surv.get_absolute_url }}">
                    <button class="poll-btn">
                    Пройти Опрос
                    </button>
                </a>
        </article>
    {% empty %}
        <p>Нет доступных опросов</p>
    {% endfor %}
        {% include 'pagination.html' with page=survey %}
{% endblock %}